.container-blog {
    width: 100%;
    height: 3000px;
    background-color: violet;
}

.blog-left1 {
    width: 70%;
    height: auto;
    background-color: yellow;
    float: left;
}

.blog-right1 {
    width: 30%;
    height: 1000px;
    background-color: wheat;
    float: left;
}

.blog-medsos {
    width: 100%;
    padding: 30px;
}

.blog-medsos h4 {
    color: #EEA800;
    font-size: 14px;
    text-align: left;
    margin: 10px 0 10px 0;
}

.blog-medsos h3 {
    color: black;
    font-size: 20px;
    text-align: left;
    margin: 20px 0 20px 0;
}

.blog-medsos i {
    margin: 0 10px 0 0;
}

.medsos {
    text-align: left;
    font-size: 20px;
    color: #95D5EC;
}


.jumbo {
    padding: 30px;
    width: 100%
}

.jumbo img {
    width: 300px;
}

.blog-artikel-populer {
    background-color: #F9F9F9;
    width: 100%;
    height: 500px;

}

.artikel {
    width: 100%;
    height: 300px;
    background-color: yellow;
}